name: Lint Checks
run-name: lint
on:
  workflow_dispatch:
  pull_request:
  push:
permissions: {}
jobs:
  shell-lint:
    runs-on: ubuntu-latest
    permissions:
      actions: read
      contents: read
      security-events: write
    steps:
      - name: Repository checkout
        uses: actions/checkout@v6
        with:
          fetch-depth: 0
      - name: Run ShellCheck
        run: shellcheck --severity style $(grep -E "#!(/usr)?/bin/(ba)?sh" -m 1 -r * | cut -f 1 -d ':' | tr '\n' ' ')
